@charset "utf-8";

ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

li a {
    display: block;
    width: 200px;
    height: 60px;
    background-color: antiquewhite;
    line-height: 60px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: green;
}

li a:hover {
    background-color: green;
    text-decoration: underline;
    color: antiquewhite;
    font-size: 30px;
}