@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	width: 1200px;
}

.header {
	background-image: url(banner.png);
	width: 1200px;
	height: 250px;
	position: relative;
}

.header h1 {
	position: absolute;
	left: 300px;
	top: 72px;
	animation: xxx 5s cubic-bezier(0.05, 1.15, 0.7, -0.54) infinite alternate;
}

@keyframes xxx {
	0%{transform: scale(1);}
	100%{transform: scale(2);}
}

.nav {
	background-color: #F90;
	height: 50px;
	padding: 20px 40px;
}

.nav ul {}

.nav li {
	float: left;
	list-style-type: none;
}

.nav li a {
	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #330;
	border-radius: 40px;
	text-shadow: #FFF 1px 1px 1px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-right: 10px;
	box-shadow: #333 2px 2px 2px;
	transition: all 3s;
	/*使hover的all(所有)效果延遲s(幾秒)後完成*/
}

.nav li a:hover {
	transform: translate(-5px, -5px);
	color: #FFF;
	background-color: #330;
	text-shadow: none;
	box-shadow: none;

}

.content {
	background-color: #F2EEDB;
	padding: 15px 20px;
	color: #333;
}

.content h3 {}

.content img {
	float: right;
	margin-left: 10px;
}

.content p {
	margin-top: 15px;
}

.footer {
	background-color: #333;
	color: #FFF;
	text-align: center;
	padding: 30px;
}

.footer h3 {
	margin-bottom: 10px;
}

.footer p {}