@import url(normalize.css);

* {
    padding: 0;
    margin: 0;
}

div {
    background-image: url(pic.jpg);
    width: 1200px;
    height: 450px;
    box-sizing: border-box;
    margin: auto;
    padding: 50px 650px 0 0;
    writing-mode: vertical-rl;
    font-size: 30px;

}

.box p {
    margin-block-start: 30px;
    letter-spacing: 10px
}