.ALL {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a .pbox {
    background-color: #ffd4d4;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    transition: all .5s;
}

a .pbox:hover {
    transform: translate(-4px, -4px);
    box-shadow: 2px 2px 5px #333;
}

.pbox img {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

a {
    text-decoration: none;
    color: #000;
}