@import url(./normalize.css);

* {
    padding: 0;
    margin: 0;
}


.box1 {
    background-image: url(banner.jpg);
    width: 1200px;
    height: 480px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.box1_1 {
    position: relative;
    top: 150px;
}

.box1_2 {
    margin-top: 180px;
}

.box1 h1 {
    color: white;
    font-size: 50px;
}

.box1 p {
    color: gray;
}

.box1 button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: gray;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.box1 button:hover {
    border: 1px solid white;
    color: white;
}


.box2 {
    width: 1200px;
    margin: 65px auto 50px;
    display: flex;
    box-sizing: border-box;
}

.box2_1 {
    width: 700px;
    margin-right: 50px;
    margin-left: 30px;
}

.pic2_1 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.box2_1_1 {
    font-size: large;
}

.box2_1_2 {
    margin-bottom: 40px;
}

.box2_2 {
    margin-right: 30px;
}

.box2_2_1 {
    margin-top: 5px;
    margin-bottom: 60px;
}

.box2_2_2,
.box2_2_3 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    margin-bottom: 30px;
}

.p_2_2_2,
.p_2_2_3,
.p_2_2_4 {
    opacity: 0.5;
}

.box2_2_2_1,
.box2_2_3_1,
.box2_2_4_1 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pic2_2,
.pic2_3,
.pic2_4 {
    margin-right: 20px;
}

.box3 {
    background-color: rgba(128, 128, 128, 0.1);
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 90px 30px 50px 30px;
    display: flex;
    justify-content: space-between;
}

.box3_1,
.box3_2,
.box3_3 {
    width: 314px;

}

.box3 h4 {
    font-size: large;
}

.pic3_1,
.pic3_2,
.pic3_3 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.box3 button {
    width: 150px;
    height: 50px;
    background-color: rgb(225, 84, 1);
    color: white;
    border: 1px;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 30px;
}



.box4 {
    background-color: rgb(66, 66, 66);
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 0;
}

.box4 ul {
    list-style-type: none;
    margin-top: 40px;
}

.box4 ul li {
    border-bottom: 1px solid rgba(241, 241, 241, 0.5);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.box4 ul li a {
    color: rgba(241, 241, 241, 0.5);
    text-decoration: none;
}

.box4_1 {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-grow: 1;
    margin-left: 30px;
}

.box4 h2 {
    color: white;

}


div.box5 {
    background-color: black;
    width: 1200px;
    margin: 0 auto;
    color: rgba(241, 241, 241, 0.5);
    text-align: center;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
}