@import url(./normalize.css);

* {
    padding: 0;
    margin: 0;
}

div.box1 {
    background-image: url(banner.jpg);
    width: 1200px;
    height: 480px;
    margin: 0 auto;
    box-sizing: border-box;

}

div.box1 h1 {
    color: white;
    

}

div.box1 p {
    color: gray;
}




div.box4 {
    display: flex;

}

div.box4.box4_1 {
    text-align: left;
    width: 33.3%;
}

div.box5 {
    background-color: black;
    color: white;
    text-align: center;

}