@charset "utf-8";
/* CSS Document */

/*===桌機的CSS===*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, '微軟正黑體', sans-serif;
}

.header {
    background-color: #f3c3c3;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.header h1 {}

.header h3 {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}

.header ul {
    display: flex;
    list-style: none;
}

.header .close {
    display: none;
}

.header li {}

.header li a {
    margin-right: 10px;
    color: #666;
}

.header li a:hover {}

.banner {}

.banner img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.office {
    background-color: #a3a3a3;
    display: flex;
    justify-content: center;
}

.office .ofbox {
    background-color: #e7e7e7;
    width: 20%;
    margin: 1%;
    text-align: center;
    padding: 20px;
}

.office .ofbox img {
    max-width: 100%;
    height: auto;
}

.office .ofbox p {}

.ad {
    display: flex;
}

.adbox {
    width: 25%;
}

.ad img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.nav {
    display: flex;
    background-color: #bfbfbf;
    justify-content: center;
}

.nav .navbox {
    background-color: #999999;
    margin: 1%;
    width: 15%;
    padding: 1%;
    color: #FFF;
}

.nav .navbox p {
    font-size: 1.2em;
}

.nav .navbox ul {
    list-style: none;
}

.nav .navbox li {}

.nav .navbox li a {
    color: #FFF;
    text-decoration: none;
}

.nav .navbox li a:hover {}

.footer {
    background-color: #222222;
    color: #9c9c9c;
    text-align: center;
    padding: 20px;
}

.footer h2 {}

.footer p {}


/*===平板的CSS===*/

@media screen and (max-width: 1200px) and (min-width:769px) {
    .office {
        flex-wrap: wrap;
    }

    .office .ofbox {
        width: 40%;
    }

    .ad {
        flex-wrap: wrap;
    }

    .adbox {
        width: 50%;
    }

    .nav {
        flex-wrap: wrap;
    }

    .nav .navbox {
        width: 45%;
    }
}


/*===手機的CSS===*/

@media screen and (max-width: 786px) {

    .header h3 {
        position: absolute;
        top: 30px;
        right: 30px;
        display: block;
        cursor: pointer;
    }

    .header ul {
        display: none;
        position: absolute;
        background-color: #631212;
        right: 30px;
        top: 65px;
        padding: 20px;
    }

    .header .close {
        display: block;
        position: absolute;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        background-color: #000000;
        color: #FFF;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }

    .header li {}

    .header li a {
        display: block;
        background-color: hsla(0, 0%, 100%, 0.299);
        margin: 0 0 6px 0;
        padding: 10px 30px;
        color: #FFF;
        text-decoration: none;
        text-align: center;

    }

    .office {
        flex-wrap: wrap;
    }

    .office .ofbox {
        width: 80%;
    }

    .ad {
        flex-wrap: wrap;
    }

    .adbox {
        width: 100%;
    }

    .nav {
        flex-wrap: wrap;
    }

    .nav .navbox {
        width: 90%;
    }
}